python-dotenv
Flask
jedi
Jinja2
gunicorn
backcall
certifi
chardet
click
colorama
decorator
Werkzeug
idna
itsdangerous
MarkupSafe
parso
pickleshare
prompt-toolkit
Pygments
requests
six
spotipy
urllib3
wcwidth